.switcherElement {
  flex-basis: 48%;
  line-height: 2rem;
  border: 0px;
  outline: none;
  background: white;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
}

.switcherElementSelected {
  color: #009688;
}
