.Stories-storyHeader {
    line-height: 2rem;
}

.Stories-storyDescription {
    margin: 10px 0px;
}

.Stories-storyFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
